<p>Tic tak toe </p>
<p [ngClass]="{'active': next_turn === user_1 }" >User 1: {{ user_1 }}</p>
<p [ngClass]="{'active': next_turn === user_2 }">User 2: {{ user_2 }}</p>
<p class='text-muted'>Observers:  {{ online$ | async }}</p>
<p><em>{{ status }}</em></p>
<p><button class="btn btn-default" (click)="resetBoard()">Reset Game</button></p>
<p><button class="btn btn-default" (click)="logout()">Logout</button></p>

<div id="gameInfo" class="modal">
    <form action="" #gameForm="ngForm">
        <div class="form-group">
            <label for="">Player 1</label>
            <input type="text" name="user_1" class="form-control" [(ngModel)]="user_1">
            
            </div>
            <div class="form-group">
            <label for=""><b>Player 2</b></label>
            <input type="text" name="user_2" class="form-control" [(ngModel)]="user_2">
            
            </div>
            <div class="form-group">
                <label for=""><b>Size board</b></label>
                <input type="text" name="size" placeholder="3" class="form-control" [(ngModel)]="size">
            </div>
            <button class="submit" (click)="createNewGame()" >New game</button>
    </form>
</div>
  
  <!-- Link to open the modal -->
<p><button (click)="showGameInfo()">Open modal 2</button></p>

<div class="board-container">
    <div *ngFor="let row of board; let i = index" class="board-row">
        <div *ngFor="let cell of row; let j = index"
            (click)="rowClick(i,j)"
        class="board-cell" [ngClass]="{'o-icon': cell === 'o', 'x-icon': cell === 'x'}">
            {{ cell }}
        </div>

    </div>

</div>